<div class="container" id="i18_blog">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="blogs.my_blogs">My Blogs</span></h1>
            <p><br><span data-i18n="blogs.intro">You will find below a list of my blogs.</span>
        </div>
    </div>

    <div class="row wow zoomIn" style="visibility: visible; animation-name: zoonIn;">
        <div class="col-lg-8 col-lg-offset-2">
            <ul style="list-style-type: none">
            {% for blog in site.data.blogs %}
                <li class="entry wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
                    <a href="{{ blog.href }}">
                    <h4><strong>{{ blog.name }}</strong></h4>
                    <p>{{ blog.desc }}</p>
                    <p>{{ blog.meta }}</p>
                    <br>
                    </a>    
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
