{% if site.disqus %}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function ()
	    { this.page.url = 'https://sagnikjena.github.io/html/2017/12/21/test-code-snippets.html';
	      this.page.identifier = '/html/2017/12/21/test-code-snippets.html'
	    };

	(function() {
		var d = document, s = d.createElement('script');
		s.src = '//{{ site.disqus.name }}.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}